    <div class="col-mb-12 col-offset-1 col-3 kit-hidden-tb" id="secondary" role="complementary">
        <section class="widget">
            <h3 class="widget-title">最新文章</h3>
            <ul class="widget-list">
                <li><a href="/archives/21/">文章标题1</a></li><li><a href="/archives/19/">文章标题2</a></li><li><a href="/archives/16/">文章标题3</a></li><li><a href="/archives/14/">文章标题4</a></li>
            </ul>
        </section>
    
        <section class="widget">
            <h3 class="widget-title">最近回复</h3>
            <ul class="widget-list">
                <li><a href="#comment-3">AAA</a>: 回复内容1</li>
                <li><a href="#comment-2">BBB</a>: 回复内容2</li>
                <li><a href="#comment-1">CCC</a>: 回复内容3</li>
            </ul>
        </section>
    
        <section class="widget">
            <h3 class="widget-title">分类</h3>
            <ul class="widget-list"><li class="category-level-0 category-parent"><a href="/category/default/">分类1</a></li></ul>   </section>
        
            <section class="widget">
            <h3 class="widget-title">归档</h3>
            <ul class="widget-list">
                <li><a href="/2015/02/">February 2015</a></li><li><a href="/2015/01/">January 2015</a></li>        </ul>
        </section>
        
        <section class="widget">
            <h3 class="widget-title">其它</h3>
            <ul class="widget-list">
                <li><a href="http://miku.host.smartgslb.com/">Sorachan</a></li>
                <li><a href="http://www.hyyyp.com/">Krabs</a></li>
                <li><a href="/feed/">文章 RSS</a></li>
                <li><a href="/feed/comments/">评论 RSS</a></li>
            </ul>
        </section>
    </div><!-- end #sidebar -->