{% extends "base.html" %}

{% block layout %}
            <div class="row">
                <div class="col-mb-12 col-8" id="main" role="main">
                    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
                        <h2 class="post-title" itemprop="name headline"><a itemtype="url" href="/archives/21/">文章标题</a></h2>
                        <ul class="post-meta">
                            <li itemprop="author" itemscope itemtype="http://schema.org/Person">作者: <a itemprop="name" href="/author/1/" rel="author">xxxx</a></li>
                            <li>时间: <time datetime="2015-02-19T16:20:00+08:00" itemprop="datePublished">February 19, 2015</time></li>
                            <li>分类: <a href="/category/default/">默认分类</a></li>
                            <li itemprop="interactionCount"><a itemprop="discussionUrl" href="/archives/21/#comments">评论</a></li>
                        </ul>
                        <div class="post-content" itemprop="articleBody">
                            <p>视频：<a href="#">视频链接</a></p>
                            <p class="more"><a href="/archives/21/" title="51单片机流水灯实验">- 阅读剩余部分 -</a></p>
                        </div>
                    </article>
                    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
                        <h2 class="post-title" itemprop="name headline"><a itemtype="url" href="/archives/19/">文章标题</a></h2>
                        <ul class="post-meta">
                            <li itemprop="author" itemscope itemtype="http://schema.org/Person">作者: <a itemprop="name" href="/author/1/" rel="author">xxx</a></li>
                            <li>时间: <time datetime="2015-02-16T20:26:00+08:00" itemprop="datePublished">February 16, 2015</time></li>
                            <li>分类: <a href="/category/default/">默认分类</a></li>
                            <li itemprop="interactionCount"><a itemprop="discussionUrl" href="/archives/19/#comments">评论</a></li>
                        </ul>
                        <div class="post-content" itemprop="articleBody">
                            <p><img src="#" alt="图片" /></p>
                            <p>内容<br />
                            内容简介。</p>
                            <p class="more"><a href="/archives/19/" title="视频直播技术细节设想">- 阅读剩余部分 -</a></p>
                        </div>
                    </article>

                    <ol class="page-navigator"><li class="current"><a href="/page/1/">1</a></li><li><a href="/page/2/">2</a></li><li class="next"><a href="/page/2/">后一页 &raquo;</a></li></ol></div><!-- end #main-->

                    {% include "partials/sidebar.html" %}
                </div><!-- end .col-md-12 -->
            </div><!-- end .row -->
{% endblock %}