{% extends "base.html" %}

{% block layout %}
        <div class="row">
<div class="col-mb-12 col-8" id="main" role="main">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <h1 class="post-title" itemprop="name headline"><a itemtype="url" href="http://cenegd.com/archives/21/">标题</a></h1>
        <ul class="post-meta">
            <li itemprop="author" itemscope itemtype="http://schema.org/Person">作者: <a itemprop="name" href="http://cenegd.com/author/1/" rel="author">cenegd</a></li>
            <li>时间: <time datetime="2015-02-19T16:20:00+08:00" itemprop="datePublished">February 19, 2015</time></li>
            <li>分类: <a href="http://cenegd.com/category/default/">默认分类</a></li>
        </ul>
        <div class="post-content" itemprop="articleBody">
            <p>实验视频：<a href="http://ac-iold8ot9.clouddn.com/205UzArG1UrkJq5FJzERrE3n7P9Xv0N3PimWH5Ec.mp4">http://ac-iold8ot9.clouddn.com/205UzArG1UrkJq5FJzERrE3n7P9Xv0N3PimWH5Ec.mp4</a></p>
<!--more-->
<pre><code>#include &lt;reg51.h&gt;
#include &lt;intrins.h&gt;

unsigned char n;
sbit led1 = P2^0;
void Delay10ms(unsigned int c);

void main(void)
{
    led1 = 0; // 给定一个初始值
    while(1)
    {
        for (n=0; n&lt;7; n++)
        {
            // 灯泡从右到左
            P2 = _crol_(P2, 1);
            Delay10ms(10);
        }
        for (n=0; n&lt;7; n++)
        {
            // 灯泡从左到右
            P2 = _cror_(P2, 1);
            Delay10ms(10); // 延迟 0.1 秒
        }
    }
}

void Delay10ms(unsigned int c)
{
    unsigned char a,b;
    for(;c&gt;0;c--)
        for(b=38;b&gt;0;b--)
            for(a=130;a&gt;0;a--);
}
</code></pre>
        </div>
        <p itemprop="keywords" class="tags">标签: none</p>
    </article>

    <div id="comments">

        <div id="respond-post-21" class="respond">
        <div class="cancel-comment-reply">
        <a id="cancel-comment-reply-link" href="http://cenegd.com/archives/21/#respond-post-21" rel="nofollow" style="display:none" onclick="return TypechoComment.cancelReply();">取消回复</a>        </div>

        <h3 id="response">添加新评论</h3>
        <form method="post" action="http://cenegd.com/archives/21/comment" id="comment-form" role="form">
                        <p>
                <label for="author" class="required">称呼</label>
                <input type="text" name="author" id="author" class="text" value="" required />
            </p>
            <p>
                <label for="mail" class="required">Email</label>
                <input type="email" name="mail" id="mail" class="text" value="" required />
            </p>
            <p>
                <label for="url">网站</label>
                <input type="url" name="url" id="url" class="text" placeholder="http://" value="" />
            </p>
                        <p>
                <label for="textarea" class="required">内容</label>
                <textarea rows="8" cols="50" name="text" id="textarea" class="textarea" required ></textarea>
            </p>
            <p>
                <button type="submit" class="submit">提交评论</button>
            </p>
        </form>
    </div>
    </div>

    <ul class="post-near">
        <li>上一篇: <a href="#" title="标题1">标题1</a></li>
        <li>下一篇: <a href="#" title="标题2">标题2</a></li>
    </ul>
</div><!-- end #main-->

    {% include "partials/sidebar.html" %}

        </div><!-- end .row -->
    </div>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
(function () {
    window.TypechoComment = {
        dom : function (id) {
            return document.getElementById(id);
        },
    
        create : function (tag, attr) {
            var el = document.createElement(tag);
        
            for (var key in attr) {
                el.setAttribute(key, attr[key]);
            }
        
            return el;
        },

        reply : function (cid, coid) {
            var comment = this.dom(cid), parent = comment.parentNode,
                response = this.dom('respond-post-21'), input = this.dom('comment-parent'),
                form = 'form' == response.tagName ? response : response.getElementsByTagName('form')[0],
                textarea = response.getElementsByTagName('textarea')[0];

            if (null == input) {
                input = this.create('input', {
                    'type' : 'hidden',
                    'name' : 'parent',
                    'id'   : 'comment-parent'
                });

                form.appendChild(input);
            }

            input.setAttribute('value', coid);

            if (null == this.dom('comment-form-place-holder')) {
                var holder = this.create('div', {
                    'id' : 'comment-form-place-holder'
                });

                response.parentNode.insertBefore(holder, response);
            }

            comment.appendChild(response);
            this.dom('cancel-comment-reply-link').style.display = '';

            if (null != textarea && 'text' == textarea.name) {
                textarea.focus();
            }

            return false;
        },

        cancelReply : function () {
            var response = this.dom('respond-post-21'),
            holder = this.dom('comment-form-place-holder'), input = this.dom('comment-parent');

            if (null != input) {
                input.parentNode.removeChild(input);
            }

            if (null == holder) {
                return true;
            }

            this.dom('cancel-comment-reply-link').style.display = 'none';
            holder.parentNode.insertBefore(response, holder);
            return false;
        }
    };
})();
</script>

<script type="text/javascript">
(function () {
    var event = document.addEventListener ? {
        add: 'addEventListener',
        focus: 'focus',
        load: 'DOMContentLoaded'
    } : {
        add: 'attachEvent',
        focus: 'onfocus',
        load: 'onload'
    };

    document[event.add](event.load, function () {
        var r = document.getElementById('respond-post-21');

        if (null != r) {
            var forms = r.getElementsByTagName('form');
            if (forms.length > 0) {
                var f = forms[0], textarea = f.getElementsByTagName('textarea')[0], added = false;

                if (null != textarea && 'text' == textarea.name) {
                    textarea[event.add](event.focus, function () {
                        if (!added) {
                            var input = document.createElement('input');
                            input.type = 'hidden';
                            input.name = '_';
                            input.value = (function () {
    var _FbAtdX = //'u8'
'd0'+//'51d'
'0'+'9c6'//'5TK'
+/* '0'//'0' */''+/* 'a5'//'a5' */''+'5cb'//'1'
+//'D'
'7f'+//'F'
'8b'+/* 'D'//'D' */''+/* 'nn'//'nn' */''+'5e9'//'pEQ'
+'j'//'j'
+'df'//'m'
+'819'//'psw'
+//'xDc'
'7'+//'H'
'9e'+''///*'a'*/'a'
+//'buu'
'buu'+'5a'//'f'
+//'O'
'O'+/* 'i'//'i' */''+/* 'J'//'J' */''+'37'//'cxR'
+/* 'IHV'//'IHV' */''+//'Be'
'685'+''///*'Rl'*/'Rl'
+//'4'
'7', _raT = [[16,17],[24,27],[26,27]];
    
    for (var i = 0; i < _raT.length; i ++) {
        _FbAtdX = _FbAtdX.substring(0, _raT[i][0]) + _FbAtdX.substring(_raT[i][1]);
    }

    return _FbAtdX;
})();

                            f.appendChild(input);
                            added = true;
                        }
                    });
                }
            }
        }
    });
})();
</script>
{% endblock %}
